<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Neue Literatur</h3>
  </div>
  <div class="chapter-text">
    <%= render 'form' %>

    <%= link_to 'Zurück', literatures_path %>
  </div>
</div>
