<!-- about this site -->
<div id="about" class="site">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="first"></span>DAS PROJEKT<span class="second"></span></h3>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!--//about this site---->

<!-- team---->
<div id="about" class="team">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="first"> </span>DAS TEAM<span class="second"></span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
  <div class="clearfix"> </div>

  <!-- team-members---->
  <div class="team-members">
    <div class="container">
      <div class="col-xs-12 col-sm-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member.jpg") %>' title="Anne" />
          <h5><a href="#">Anne Heichler</a></h5>
          <span>Konzept</span></br>
          <span>Inhalt</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-xs-12 col-sm-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("fei.jpg")%>' title="Fei" />
          <h5><a href="#">Zhuo-Fei Hui</a></h5>
          <span>Entwicklung</span></br>
          <span>Web-Design</span>
          <label class="team-member-caption text-center">
            <p>Zhuo-Fei ist Diplom-Informatikerin und entwickelt seit einem Jahr in Ruby on Rails.</p>
            <ul>
              <li><a class="t-twitter" href="http://twitter.com/zfhui" target="_blank"><span> </span></a></li>
              <li><a class="t-wordpress" href="http://zfhui.de" target="_blank"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-xs-12 col-sm-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member.jpg")%>' title="Chris" />
          <h5><a href="#">Christian Knop</a></h5>
          <span>Web-Design</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-xs-12 col-sm-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member.jpg")%>' title="Lina" />
          <h5><a href="#">Lina Rehork</a></h5>
          <span>Konzept</span></br>
          <span>Inhalt</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="clearfix"> </div>
    </div>
      <div class="clearfix"> </div>
  <!--//team-members---->
  </div>
</div>
<!----//team---->
