<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Impressum</h3></br>
  </div>

  <div class="section-container"%>
    <div class="section-head">
      <h4>Angaben Gemäss §5 TMG</h4>
    </div>
    <div class="section-text">
      <address>
        Zhuo-Fei Hui</br>
        Danziger Str. 24</br>
        10435 Berlin</br>
        Telefon:	0049 30 53052655</br>
        E-Mail:	zhfhui (at) gmail.com
      </address>
    </div>
  </div>
  <div class="section-container"%>
    <div class="section-head">
      <h4>Inhaltlich Verantwortlicher gemäß §55 Abs. 2 RSTV</h4></br>
    </div>
    <div class="section-text">
      <p>Anne Heichler, Zhuo-Fei Hui, Christian Knop und Lina Rehork</p>
    </div>
  </div>

  <div class="section-container"%>
    <div class="section-head">
      <h4>Quellenabgaben für die verwendeten Bilder und Grafiken</h4></br>
    </div>
    <div class="section-text">
      <p><strong>Fotos: </strong> Berlinische Galerie, Landesmuseum für Moderne Kunst, Fotografie und Architektur Alte Jakobstraße 124-128 10969 Berlin</p>
      <p><strong>Logo: </strong> Zhuo-Fei Hui </p>
      <p>Einige Design-Elemente sind inspiriert vom <a href='http://w3layouts.com/umbrella-v2-a-mobile-app-based-flat-bootstrap-responsive-web-template/' target="_blank">Umbrella V2</a> (<a href='https://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>). Übernommen und angepasst wurden die Styles für den Abschnitt "Das Team" und die zugehörige Icon-Datei <em>team-social.png</em> wurde um die Elemente GitHub und Wordpress mit Hilfe von Icons der Seite <a href="https://icons8.com/">icons8.com</a> erweitert.</p>
    </div>
  </div>
</div>
