<div class="container section-container-first">
  <div class="section-head">
    <h3>Impressum</h3></br>
    <h4>Angaben Gemäss §5 TMG</h4>
    <address>
      Zhuo-Fei Hui</br>
      Danziger Str. 24</br>
      10435 Berlin</br>
      Telefon:	0049 30 53052655</br>
      E-Mail:	zhfhui (at) gmail.com
    </address>

    <h4>Inhaltlich Verantwortlicher gemäß §55 Abs. 2 RSTV</h4></br>
    <p>Anne Heichler, Zhuo-Fei Hui, Christian Knop und Lina Rehork</p>

    <h4>Quellenabgaben für die verwendeten Bilder und Grafiken</h4></br>
  </div>
</div>
