<div class='container intro-container'>
  <div class='col-xs-12 col-md-9' style='background:rgba(25,25,25,0.85)'>
    <h1>Einleitung</h1>

    <p>Nach dem Ende des zweiten Weltkriegs kam es 1949 zur Ausrufung der beiden deutschen Staaten. Die noch durch die Siegermächte USA, Großbritannien, Frankreich und die Sowjetunion besetzte Hauptstadt Berlin wurde in Ost und West geteilt, was sich als erstem Höhepunkt 1961 im Bau der Berliner Mauer manifestierte. Berlin wurde repräsentativer Schauplatz der beiden Weltbilder, einerseits als Enklave des „freiheitlich, demokratisch und westlich orientierten“ Westdeutschland und als Hauptstadt der „gemeinschaftlichen, sozialistischen und nach Osten gewandten“ DDR andererseits. Der Wiederaufbau der 50er, 60er und 70er Jahre spiegelt diesen politischen Wettstreit in den öffentlichen Bauaufgaben und Architekturformen eindrücklich wider.</p>

    <p>Das infolge der Teilung dezentral am Westrand der DDR-Hauptstadt liegende historische Zentrum mit Staatsoper, Universität und Museumsinsel wird mit viel Geld in weitestgehend alter Gestalt wieder aufgebaut, die Ruine des Stadtschlosses wird als nicht zur Ideologie passender Bau gesprengt. Sind in den frühen fünfziger Jahren die sowjetischen, klassizistisch anmutenden Einflüsse mit „Zuckerbäckerstil“ und den massigen Arbeiterpalästen der Karl-Marx-Straße noch stilprägend, wandelt sich die architektonische Hülle nicht zuletzt mit dem „Ideenwettbewerb zur sozialistischen Umgestaltung der Hauptstadt der DDR“ 1958/59 hin zu einer sozialistischen Moderne. Die materialintensive Massivbauweise wird durch den billigeren, typisierten Plattenbau abgelöst, und klare, funktionalistische Formen und Materialien kommen zum Einsatz. Architektur und Kunst werden in den Dienst des Staates gestellt und Mittel zur Propaganda der herrschenden Ideologie.</p>

    <p>Die Fotografin Gisela Dutschmann hat den Wiederaufbau Ost mit seinen vielfältigen Architekturen eindrücklich festgehalten. Einen – wenn auch nur kleinen - Eindruck der sich wandelnden Strömungen verschaffen ihre zeitgenössischen Fotografien, die entlang der Strecke zwischen Brandenburger Tor und Strausberger Platz einige der wichtigsten Bauprojekte der neuen Hauptstadt mit ihren diversen Raumordnungskonzepten, Bauaufgaben und Stilformen entstanden sind. Diese Fotografien dienen als Ausgangspunkt einer Einladung zur Entdeckung des baulichen Erbes der Nachkriegsmoderne. </p>

    <p>Ob aus der Ferne oder direkt vor Ort: Achtung - Sie betreten nun Ost-Berlin!</p>
  </div>
</div>

<div class="container chapter-container">
  <!-- about buildings -->
    <div class="section-container">
      <div class="section-head">
        <h3>Gebäude</h3>
      </div>
      <div class="section-text">
        <p class="text-left">Der Menüpunkt “Gebäude” bietet einen Überblick zu den von uns aus dem Datensatz ausgewählten 27 Objekten. Wir haben uns bemüht, die architektonischen Besonderheiten jedes Objekts herauszustellen, aber auch - falls vorhanden - Informationen zur städtebaulichen Bedeutung, zu direkten Gegenentwürfen oder Vorläufern bereitzustellen. Jedem Gebäude sind meist mehrere Fotos zugeordnet, die andere Perspektiven ermöglichen. Doppelungen haben wir versucht zu vermeiden. Wo vorhanden, sind jeweils die zugehörigen Links zu Wikipedia und Wikimedia Commons sowie teilweise anderer Webseiten angegeben. Besonders freut es uns, wenn wir einen passenden Videobeitrag finden konnten. Die Qualität ist dabei sehr unterschiedlich; dass es aber überhaupt solche Zeitdokumente gibt, ist schon großartig! Hinweise zu weiteren Video- oder Textbeiträgen zum Objekt, Architekt oder städtebaulichen Kontext nehmen wir daher dankend entgegen.</p>
      </div>
    </div>
  <!--//about buildings---->

  <!-- about tours -->
  <div class="section-container">
    <div class="section-head">
      <h3>Touren</h3>
    </div>
    <div class="section-text">
      <p>Anhand der Standorte der in den Fotografien festgehaltenen Objekte sind drei ortsbezogene Touren entstanden. Das Kriterium der Zusammenstellung ist dabei kein zwingend inhaltliches, sondern die zu Fuß gut zu bewältigende Entfernung der Objekte zueinander war ausschlaggebend. Entsprechend haben wir keine verbindliche Reihenfolge festgelegt, sondern verstehen die Touren als Vorschläge. Die einzelnen Beiträge sind unabhängig voneinander erstellt und daher ebenso gut nach persönlichen Vorlieben zusammenstellbar. Jeder Tour ist ein kurzer Einführungstext vorangestellt, der die städtebauliche Dimension der Objekte thematisiert und sie damit in einen größeren Kontext stellt.</p>
      
      <p>Wir planen, die bisher verfügbaren 27 Gebäude nicht als Ende unserer Arbeit, sondern vielmehr als Grundstock für weitere hinzukommende Objekte anzusehen. Auch weitere Features sind in Vorbereitung, sodass Touren bald nach individuellen Kriterien zusammengestellt werden können. Denkbar ist nicht nur eine Auswahl nach Jahrzehnt der Entstehung (zB eine Tour ausschließlich mit Bauten der 60er Jahre), sondern beispielsweise auch nach Architekt, bedeutender Kunst am Bau, verfügbaren Baustellen-Fotos und vielem anderen.</p>
    </div>
  </div>
  <!--//about tours---->
</div>
