<!-- team---->
<div id="about" class="team">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="frist"> </span>PEOPLE BEHIND THE APP<span class="second"> </span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
  </div>
  <div class="clearfix"> </div>

  <!-- team-members---->
  <div class="team-members">
    <div class="container">
      <div class="col-md-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member4.jpg") %>' title="name" />
          <h5><a href="#">Jonh Doe eh</a></h5>
          <span>Lead Designer</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-md-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member1.jpg")%>' title="name" />
          <h5><a href="#">Amanda Fenrnicas</a></h5>
          <span>Lead Developer</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-md-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member2.jpg")%>' title="name" />
          <h5><a href="#">Hamberg Rodny</a></h5>
          <span>Artist</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="col-md-3 team-member">
        <div class="team-member-info">
          <img class="member-pic" src='<%= image_url("team-member3.jpg")%>' title="name" />
          <h5><a href="#">Jessica Leonardo</a></h5>
          <span>Photographer</span>
          <label class="team-member-caption text-center">
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <ul>
              <li><a class="t-twitter" href="#"><span> </span></a></li>
              <li><a class="t-facebook" href="#"><span> </span></a></li>
              <li><a class="t-googleplus" href="#"><span> </span></a></li>
              <div class="clearfix"> </div>
            </ul>
          </label>
        </div>
      </div><!--- end-team-member --->
      <div class="clearfix"> </div>
    </div>
      <div class="clearfix"> </div>
  <!--//team-members---->
  </div>
</div>
<!----//team---->
