
<div class="container section-container-first">
  <div class="section-head">
    <h3><%= @tour.name %></h3>
  </div>

  <div class="section-text-last">
    <p> Lorem Ipsum ... </p>
  </div>


  <div class="section-text-last">
    <%= link_to 'Bearbeiten', edit_tour_path(@tour) %> |
    <%= link_to 'Zurück', tours_path %>
  </div>
</div>
