<div class="container chapter-container">
  <div class="chapter-head">
    <h3>Gebäude Bearbeiten</h3>
  </div>
  <div class="chapter-text">
    <%= render 'form' %>

    <%= link_to 'Anzeigen', @building%> |
    <%= link_to 'Zurück', buildings_path %>
  </div>
</div>
