<div class="container section-container-first">
  <div class="section-head">
    <h3>Neues Gebäude</h3>
  </div>
  <div class="section-text-last">
    <%= render 'form' %>

    <%= link_to 'Zurück', buildings_path %>
  </div>
</div>
